<% content_for :title do %>
  <%= title %> <% unless name.blank? %> - <%= name %><% end %><% unless action.blank? %> - <%= action %><% end %>
<% end %>

<% content_for :navigation do %>
  Megalab Management > <%= title %> <% unless name.blank? %> > <%= name %><% end %><% unless action.blank? %> > <%= action %><% end %>
<% end %>